/* Definição de variaveis de cor */
:root {
    --white: #fffafa;

    --gray-500: #929A92;

    --green-100: #7FDB7D;
    --green-400: #4FA880;
    --green-900: #147549;

}

.hide {
    display: none;
}


/* Icones material google */
.material-icons-outlined {
    color: var(--green-900);
}

.material-icons-outlined.md-32 {
    font-size: 32px;
}

.material-icons-outlined.md-52 {
    font-size: 52px;
}

/* Geral */
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* color: aqua; */
    box-sizing: border-box;
}

/* Retira borda de seleção de um elemento */
*:focus {
    outline: none;
}

body {
    background: radial-gradient(50% 50% at 50% 50%, #7FDB7D 0%, #4FA880 100%);
    /* #7FDB7D; */
    background-size: cover;
    /* Para que o gradiente seja cover */
    -webkit-font-smoothing: antialiased;
    /* Para que o texto seja antialiased */
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: 0.3s;
}

button>span {
    pointer-events: none;
    /* Para o ícone não atrapalhar o botão */
}


input, select {
    background-color: transparent;
    padding-left: 0.75rem;
    border: 1px solid var(--green-900);
    border-radius: 8px;
    height: 2.5rem;
    margin-right: 0.375rem;
    font-size: 1rem;
    color: var(--green-900);
}

select {
    color: var(--green-900);
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
}

::placeholder {
    color: var(--gray-500);
}

.todo-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 596px;
    max-width: 720px;
    margin: 3rem auto 7.75rem;
    background-color: var(--white);
    padding: 1rem 2rem;
    border-radius: 8px;
}

h1, h3, h4 {
    color: var(--green-900);
}



header {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}



/* Estilização da toolbar */
#toolbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

#search {
    display: flex;
    flex-direction: column;
    width: 56%;
}

#search form {
    display: flex;
}

#search input {
    width: 100%;
    max-width: 328px;
}

#search form span {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#filter {
    display: flex;
    flex-direction: column;
}

#filter .filter-select {
    display: flex;
    width: 44vw;
    max-width: 179px;
}


#filter span {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Cards tarefas */
#todo-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.todo {
    display: flex;
    flex-direction: row;
    background-color: var(--green-400);
    border-radius: 8px;
    margin-bottom: 0.5rem;
    height: 3.5rem;
    padding-left: 1.0rem;
    padding-right: 0.5rem;
}

.card-info {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    min-width: 140px;
    font-size: 1rem;
}

.card-info>h4 {
    color: var(--white);
    text-transform: capitalize;
}

.card-control {
    display: flex;
    justify-content: space-between;
    width: 10.6875rem;
    align-items: center;
}

.button-on-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 0.625rem;
    font-weight: bold;
    color: var(--white);
}

.button-on-card > button > span {
    color: var(--white);
}

/* Formulário de inserção de tarefa*/


.input-task-pre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--green-900);
    font-size: 0.875rem;
}

#todo-form .form-control {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

